{{#section 'title'}}
	Delete Category
{{/section}}

<form action="" method="POST" role="form">
	<input type="hidden" id="" name="CatId" value="{{CatId}}">	
	<button type="submit" class="btn btn-danger delete">
		<span class="glyphicon glyphicon-remove"></span>
		Delete
	</button>

	<a href="/category" type="button" class="btn btn-danger delete">
		<span class="glyphicon glyphicon-remove"></span>
		Delete
	</a>
</form>