{{#with Category}}
<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="id">#</label>
		<input type="text" class="form-control" id="id" name="ProId" value="{{ProID}}" readonly="true">
	</div>
	<div class="form-group">
		<label for="name">Loại sản phẩm</label>
		<input type="text" class="form-control" id="name" name="ProName" value="{{ProName}}">
	</div>
	<div class="form-group">
		<label for="name">Giá Tiền</label>
		<input type="text" class="form-control" id="price" name="Price" value="{{Price}}">
	</div>
	<div class="form-group">
		<label for="name">Mô Tả</label>
		<input type="text" class="form-control" id="desc" name="Description" value="{{Description}}">
	</div>
	<a class="btn btn-outline-secondary" href="/admin/product" role="button">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
		View List
	</a>
	<button type="submit" class="btn btn-outline-success">
		<i class="fa fa-check" aria-hidden="true"></i>
		Update
	</button>
</form>
{{/with}}